// Lineages
[data-key-path='traits'] {
  .item-body {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  [data-key-path$='.description'] {
    grid-column: 1 / span 2;
  }

  [data-key-path$='.points'] .number-input {
    min-width: 15ch;
  }
}

// Classes
[data-key-path='feats'] {
  .item-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  [data-key-path$='.title'],
  [data-key-path$='.description'] {
    grid-column: 1 / -1;
  }
}

:has([aria-label='“Charms” Collection']) {
  .content:not(.combobox) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
  }

  // [data-key-path='ap'],
  // [data-key-path='fatigue'],
  // [data-key-path='concentration'] {
  //   grid-column: span 1;
  // }

  // [data-key-path='reaction'],
  // [data-key-path='tags'] {
  //   grid-column: span 2;
  // }

  [data-key-path='title'],
  [data-key-path='spells'],
  [data-key-path='tags'],
  [data-key-path='body'] {
    grid-column: 1 / -1;
  }
}

:has([aria-label='“Gear” Collection']) {
  .content:not(.combobox) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
  }

  [data-key-path='count'],
  [data-key-path='cost'],
  [data-key-path='weight'] {
    grid-column: span 2;
  }
}

[data-key-path='title'],
[data-key-path='body'] {
  grid-column: 1 / -1;
}

[data-key-path='crafting'] {
  grid-column: 1 / -1;

  .item-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

:has([aria-label='“Packs” Collection']) {
  [data-key-path='contents'] .item-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

// [aria-label='“Items” Field'] .item-body,
// [aria-label='“Labeling” Field'] .item-list,
// [aria-label='“Servings” Field'] .item-body,
// [aria-label='“Extras” Field'] .item-body {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

// [aria-label='“Hours” Field'] .item-list {
//   display: grid;
//   grid-template-columns: auto 25ch 25ch;
// }

// [aria-label='“Name” Field'],
// [aria-label='“Is a platter” Field'] {
//   grid-column: 1 / span 2;
// }
