---
import { getCollection } from 'astro:content';

const heritage = (await getCollection('heritage')).sort((a, b) =>
  a.data.title.localeCompare(b.data.title),
);
---

{
  heritage.map((a) => (
    <section>
      <header>
        <h3 id={a.slug} class="title">
          {a.data.title}
        </h3>
        {a.data.requirements && (
          <p>
            <strong>Requirements:</strong> {a.data.requirements}
          </p>
        )}
      </header>
      <div class="type" set:html={a.rendered.html} />
    </section>
  ))
}

<style lang="scss">
  // header p:not(.title) {
  //   margin-block-end: 1rem;
  // }
</style>
