---
import Layout from '$layouts/Layout.astro';
import Heritages from '$components/mdx/Heritages.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="heritages">
    <h1 class="type--h1">Heritages</h1>
    <Heritages />
  </div>

  <!-- <SiteLanding /> -->
</Layout>

<style>
  .heritages {
    max-width: 70ch;
    margin-inline: auto;
    display: grid;
    gap: 2rem;
  }
</style>
