<footer>
  <div class="container">
    <ul>
      <li><a href="/license">Licenses</a></li>
    </ul>
  </div>
</footer>

<style lang="scss">
  .container {
    max-width: 70ch;
    font-size: 1rem;
    margin-inline: auto;
    color: var(--white);
  }

  a {
    color: currentColor;
  }
  footer {
    padding: 1rem;
    background-color: var(--offblack);
    color: var(--white);
    border-top: 2px solid var(--purple);
  }
</style>
