.table-wrapper {
  max-width: 100%;
  overflow: auto;
  margin: 0 auto;
  width: 100%;
  border: 1px solid var(--grey);

  &.min table {
    line-height: 1;
    padding-block: 0;
  }
}

table {
  // border: 1px solid var(--grey-2);
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 1rem;
  background: color-mix(in srgb, var(--parchment) 100%, var(--white) 100%);
  table-layout: fixed;

  thead {
    background-color: var(--dark-red);
    color: var(--white);
    // text-align: left;
    vertical-align: middle;
    border: 1px solid var(--grey);

    .term-popover & {
      background-color: var(--dark-purple);
    }
  }

  tbody {
    th {
      background-color: color-mix(
        in srgb,
        var(--yellow) 100%,
        var(--white) 100%
      );
      // text-align: left;
      border-color: var(--grey);
      width: max-content;
    }
  }

  th,
  td {
    padding: 0.5rem;
    border: 1px solid transparent;
    // text-align: center;

    &:nth-of-type(1) {
      // text-align: left;
    }
  }

  td {
    border-color: var(--grey);
    // word-wrap: break-word;
    // white-space: break-spaces;
    min-width: 10ch;
  }

  tr:not(:has([colspan])):not(:has(th)):nth-of-type(odd) {
    background-color: color-mix(
      in srgb,
      var(--dark-yellow) 25%,
      var(--white) 100%
    ) !important;
  }

  // tbody tr:nth-of-type(2n + 1) {
  //   background-color: red !important;
  // }

  .table-flex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
}
