---
import { getCollection } from 'astro:content';

const techniques = (await getCollection('techniques'))
  .filter((t) => t.data.type === 'basic')
  .sort((a, b) => {
    if (a.data.reaction) return 1;
    if (b.data.reaction) return -1;

    if (a.data.ap < b.data.ap) return -1;
    if (a.data.ap > b.data.ap) return 1;

    return 0;
  });

function cost(t) {
  if (t.data.ap) return t.data.ap + ' AP';
  if (t.data.reaction) return '1 R';
  if (t.data.duration) return t.data.duration;
}
---

<table>
  <thead>
    <tr>
      <th style="text-align:left">Name</th>
      <th style="text-align:left">Action</th>
      <th style="text-align:left">Description</th>
    </tr>
  </thead>
  <tbody>
    {
      techniques.map((t) => {
        return (
          <tr>
            <td style="text-align:left;min-width:12ch">{t.data.title}</td>
            <td style="text-align:left">
              <strong>{cost(t)}</strong>
              {t.data.reaction && (
                <fragment>
                  <br />
                  <span class="rxn">{t.data.reaction}</span>
                </fragment>
              )}
            </td>
            <td style="text-align:left">{t.body}</td>
          </tr>
        );
      })
    }
  </tbody>
</table>

<style>
  .rxn {
    line-height: 1.25;
    display: inline-block;
    font-size: 0.9em;
  }
</style>
